/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

h1 {
  color: #989898;
  text-align: center;
}
.results {
  margin: 40px;
  padding-bottom: 20px;
  text-align: center;
  padding-top: 20px;
  font-size: x-large;
  font-family: helvetica;
  font-weight: 200;
}

.byLine {
    margin-top: 224px;
    text-align: center;
    font-family: helvetica;
    font-size: smaller;
    font-weight: 100;
}

#header {
  background-color: #366DC1;
  margin: 0px;
  padding-bottom: 20px;
  text-align: center;
  padding-top: 20px;
  color: white;
  font-size: x-large;;
  font-family: helvetica;
  font-weight: 200;
}

.buttons {
  margin: 0 auto;
  width: 500px;
  text-align: center;
  margin-top: 100px;
}

#playerButtons {
  margin-top: 100px;
}

#weaponButtons {
  margin-top: 50px;
}

.playerButton {
  width: 175px;
  height: 125px;
  border: 0px;
  background-color: #366DC1;
  font-family: Helvetica;
  font-size: medium;
  color: white;
  font-weight: 400;
}

.playerButton:hover {
  background-color: #548CE2
}

#player1 {
  margin-right: 20px;
}

#player2 {
  margin-left: 20px;
}

.weapon {
  margin: 6px;
  border: none;
  background-color: #366DC1;
  color: white;
  width: 250px;
  height: 40px;
  font-family: helvetica;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: initial;
}

.weapon:hover {
  background-color: #548CE2
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}


@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}